nav {
    border-bottom: 1px solid black;
  }
  
  .chemin ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .chemin1 {
    display: inline-block;
  }
  
  .chemin1 a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }
  

.le_chemin {
    margin: 50px;
}

.logo_memoria {
  margin: 50px;
}

.titre_contact {
  margin: 50px;
}