@font-face{
    font-family: "Futura Bold";
    src: url(fonts/futura/Futura-Bold-03.woff2);
}
@font-face{
    font-family: "Futura Medium";
    src: url(fonts/futura/Futura-Medium-01.woff2);
}

.navbar {
    background-color: #8D99AE;
    font-family: 'Futura Medium' , sans-serif !important;
    font-size: 24 !important; 
}

.btn {
    background-color: #A3252F;
    color: white;
    border-radius: 25px;
    font-family: 'Futura Medium' , sans-serif !important;
    font-size: 24 !important;
    box-shadow: 4px 4px 4px #6E6263;
}
.form-control {
    border-radius: 25px;
    height: 40px;
    width: 170px;
    margin : 4px; 
}




